@import url(
'https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header
{
    background-color: #F4A460;
    padding: 0 18px;
    width: 100%; 
}
.header a
{
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
}
.header a:hover
{
    color: #800000;
}
.header .wrap, .header > .wrap > .right
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .right ul li a {
    display: flex;
    align-items: center;
    gap: 1px; /* расстояние между иконкой и текстом */
}
@media (max-width: 460px) {
    .header .right ul li .text {
        display: none; /* Текст исчезает */
    }

    /* Дополнительно: можно увеличить иконки, чтобы по ним было легче попадать */
    .header .right ul li .icon {
        font-size: 25px;
        align-items: center; 
    }
    .header .right ul {
        gap: 2px; /* Уменьшаем расстояние между кнопками */
         align-items: center;
    }
    /* Добавляем отступы для удобства клика */
    /* .header .right ul li a {
        padding: 6px;
    } */
}
.right
{
    width: 30%;
}
.right > ul
{
    width: 100%;
}
.right > ul
{
    list-style: none;
    display: flex;
    justify-content: space-around;
}