body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Минимальная высота — весь экран */
  width: 100vw; /* Ширина экрана */
  overflow-x: hidden; /* Важно для мобилок! */
}

.content {
  flex: 1; /* Заставляет main занимать всё свободное пространство */
  /*padding: 16px; /* Отступы по бокам для мобилок */
  width: 100%;
  max-width: 100%;
}

/* Медиа-запрос для специфических правок на мобильных */
@media (max-width: 768px) {
  .content {
    padding: 10px;
  }
}